<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>forgot password</title>

    <link rel="icon" type="image/x-icon" th:href="@{https://cdn.printgo.vn/uploads/media/772948/thiet-ke-logo-shop-giay-19_1584095087.jpg}">

    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" th:href="@{/shop/css/bootstrap.min.css}">
</head>
<body>

<div class="container text-center">

    <div>
        <h2>Forgot Password</h2>
    </div>

    <form th:action="@{/forgot-password}" method="post" style="max-width: 420px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <div>
                <p>Chúng tôi sẽ gửi một liên kết đặt lại mật khẩu đến email của bạn.</p>
            </div>
            <div>
                <p>
                    <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required autofocus/>
                </p>
                <div th:if="${error != null}">
                    <p class="text-danger">[[${error}]]</p>
                </div>
                <div th:if="${message != null}">
                    <p class="text-primary" >[[${message}]]</p>
                </div>
                <p class="text-center">
                    <input type="submit" value="Send" class="btn btn-primary" />
                </p>
            </div>
        </div>
    </form>
</div>

</body>
</html>