<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>

    <link rel="icon" type="image/x-icon"
          th:href="@{https://cdn.printgo.vn/uploads/media/772948/thiet-ke-logo-shop-giay-19_1584095087.jpg}">

    <!------ Include the above in your HEAD tag ---------->

    <link th:href="@{shop/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="text-center">
        <h2>[[${title}]]</h2>
        <h4>[[${message}]]</h4>
        <div th:if="${trangchu != null}">
            <a href='/'>Trang chu<a/>
        </div>
    </div>

</div>
</body>
</html>