<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>

  <link rel="icon" type="image/x-icon" th:href="@{https://cdn.printgo.vn/uploads/media/772948/thiet-ke-logo-shop-giay-19_1584095087.jpg}">

  <!------ Include the above in your HEAD tag ---------->

  <link th:href="@{shop/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>

<div class="container text-center">
  <div>
    <h2>Đặt lại mật khẩu</h2>
  </div>
  <form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
    <input type="hidden" name="token" th:value="${#httpServletRequest.getParameter('token')}" />
    <div class="border border-secondary rounded p-3">
      <div>
        <p>
          <input type="password" name="password" id="password" class="form-control"
                 placeholder="Mật khẩu mới" required autofocus oninput="checkPassNumber(this)" />
        </p>
        <p>
          <input type="password" class="form-control" placeholder="xác nhận mật khẩu mới của bạn"
                 required oninput="checkPasswordMatch(this);" />
        </p>
        <p class="text-center">
          <input type="submit" value="Change Password" class="btn btn-primary" />
        </p>
      </div>
    </div>
  </form>
</div>
<script th:src="@{/shop/js/jquery.min.js}"></script>
<script th:src="@{/shop/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript">
  function checkPasswordMatch(fieldConfirmPassword) {
    if (fieldConfirmPassword.value != $("#password").val()) {
      fieldConfirmPassword.setCustomValidity("mật khẩu không khớp!");
    } else {
      fieldConfirmPassword.setCustomValidity("");
    }
  }

  function checkPassNumber(field) {
    let leg = field.value.length;
    if(leg < 6 || leg > 20){
      field.setCustomValidity("Mật khẩu có độ dài từ 6-20 ký tự!")
    } else {
      field.setCustomValidity("");
    }
  }
</script>
</body>
</html>